body {
    padding-top: 100px; 
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-weight: bold;
    color: #333;
    text-align: justify;
    max-width: 100%;
    margin: auto;
    padding-bottom: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

/* Headings */
h1 {
    margin: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin-top: 80px;
    margin-bottom: 20px;
}

h2 {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    font-weight: bold;
}

h3 {
    margin-right: 100px;
    margin-left: 100px;
    font-weight: bold;
}

p {
    margin-right: 100px;
    margin-left: 100px;
    font-weight: normal;
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 40px;
}

li {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 16px;
}

/* Header & Navigation */
header {
    width: 100%;
    top: 0;
    left: 0;
    background-color: #4CAF50;
    color: white;
    padding: 20px 0; /* Adjust padding for better spacing */
    text-align: center;
    z-index: 1000;
    margin-bottom: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    padding: 20px 0;
    text-align: center;
    transition: padding 0.3s ease-in-out, height 0.3s ease-in-out;
    z-index: 1000;
    height: 60px;
    line-height: 60px;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 0 15px;
    display: inline-block;
}

nav.shrink {
    padding: 10px 0;
}

nav.shrink a {
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #005f73;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

footer:hover {
    padding: 20px; /* This should now animate */
    transform: scale(1.05);
}

/* Responsive Design */
@media screen and (max-width: 768px) { /* Mobile screens */
    h1, h2, h3 {
        font-size: 18px;
        margin: 10px auto;
    }

    p, li {
        font-size: 14px;
    }

    nav {
        padding: 10px 0;
    }
}
