body {
    padding-top: 60px; 
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-weight: bold;
    color: #333;
    text-align: justify;
    max-width: 100%;
    margin: auto;
    padding-bottom: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

/* Headings */
h1, h2, h3 {
    margin-top: 80px;
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
    max-width: 90%;
}

/* Paragraphs and Lists */
p, ul, li {
    font-weight: normal;
    font-size: 16px;
    margin: 10px auto;
    max-width: 90%;
}

ul {
    padding-left: 20px;
}

li {
    font-size: 16px;
}

/* Header & Navigation */
header, nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4CAF50;
    color: white;
    align-text: center;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    height: 60px;
    display: flex; 
    align-items: center;
    justify-content: center;
    line-height: 60px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    display: inline-block;
}

nav.shrink {
    padding: 10px 0;
}

nav.shrink a {
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #005f73;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
}

/* Responsive Design */
@media screen and (max-width: 1024px) { /* Tablets and smaller desktops */
    body {
        padding-top: 80px;
        padding-left: 5%;
        padding-right: 5%;
    }

    h1, h2, h3 {
        font-size: 20px;
        margin: 15px auto;
    }

    p, li {
        font-size: 16px;
    }

    nav {
        padding: 12px 0;
    }

    nav a
